
/* Navbar */
.nav_container{
    height:2.5rem;
    display: flex;
    align-items: center;
    background-color: var(--modeColor);
    color:var(--inverseModeColor);
    padding:0.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    box-shadow: 0px -5px 14px #999;
    

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.auth_details{
    display: flex;
    align-items: center;
}
.auth_details .user_info{
    margin-right:20px;
    display: flex;
    align-items: center;
}
.user_profile_pic{
    border: 1pc solid lightgray;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 10px;
}
.brand{
    margin-left: 5.8rem;
    font-weight: bold;
}

/* sidebar */
#sidebar_container{
    background-color: var(--modeColor);
    color:var(--inverseModeColor);
    width: 25%;
    padding: 1rem;
    padding-top:0px;
    height: 100%;
    border-right: 1px solid lightgray;

}

.sidebar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.sidebar__items{
    list-style: none;
    
}
.sidebar__items li{
    margin:0.5rem;
    padding:0.7rem;
    font-weight: 600;
   text-transform: capitalize;
    display: flex;
    align-items: center;
    
}
li {
    cursor: pointer;
}
li i{
    margin-right:0.5rem;
    font-size: 23px;
}
.sidebar__items li.active{
    color:var(--primaryColor);
    background-color: rgb(240,128,128,0.1);
    border-radius:1000px;
}
.sidebar__items li:hover{
    background-color: rgb(240,128,128,0.1);
    border-radius:1000px;
    color: var(--primaryColor);
    transition: all 100ms linear;
}

/* Engagement Bar */
.engagementBar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 0.5rem;
   
}