button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth_btn{
    height: 2rem;
        width: 5rem;
        background-color: #EA8201;
        border-radius: 6px;
        border: 1px solid #EA8201;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: smaller;
}
.orangeBtn:hover{
    background-color: #EA8201B2;
}
.newPostBtn{
    height:2.8rem;
    width: 10rem;
    background-color: #EA8201;
    border-radius: 1000px;
    border: 1px solid #EA8201;
    color:white;
    
    font-size:large
}
.likeBtnContainer,.commentBtnContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.like_btn,.comment_btn{
    background-color: var(--modeColor);
    color:var(--inverseModeColor);
    border:none;

}
.like_btn i,.comment_btn i{
    margin-right:0.3rem;
}
.editProfileBtn{
    color: #00af91;font-size: smaller;
    background-color: var(--modeColor);
    border:2px solid #00af91;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0rem 0.6rem 0rem 0.6rem;
    cursor: pointer;
    height: 2rem;
    
}
.editProfileBtn:hover{
    background-color: #00af91;
    color:white;
    transition: all 0.2s linear;
}