@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Noto+Sans&family=Open+Sans:wght@300;400;600;700&display=swap');
/* html{
    --modeColor:rgb(40, 44, 52);
    --inverseModeColor:white;
    
    /* rgb(40, 44, 52) */

body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    --primaryColor:#EA8201;
    color:var(--inverseModeColor);
    background-color: var(--modeColor);
}
#root{
  
    height: 100vh;
    overflow: hidden;
}
button{
    cursor: pointer;
}
.main_area{
    background-color: var(--modeColor);
    color:var(--inverseModeColor)
}

