.page{
    height: 100%;
}
.main_area{
    display: flex;
    height: 100%;
}
.listContainer{
    width:45%;

    
}
.listContainerScroll{
   
        height: 100vh;
        overflow: scroll;
        list-style: none;
    
}
.listContainerScroll::-webkit-scrollbar{
    width:2px;
    background-color: grey;
}
.listContainerScroll::-webkit-scrollbar-thumb{
    background-color: var(--inverseModeColor);
}