.list_container_wrapper{
    height: 100%;
    padding-right: 23rem;
   
}
.posts{
    height: 100%;
    overflow: scroll;
    list-style: none;
}
.posts::-webkit-scrollbar{
    width:2px;
    background-color: grey;
}
.posts::-webkit-scrollbar-thumb{
    background-color: black;
}
.post__list{
    list-style: none;
    padding:0px;
}
.post__list .post{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin-top:1rem;
    padding: 0.4rem;
    

}
.post_container{
    margin-right: 1rem;
    margin-left: 3rem;
}
.post_area_container{
    border-radius: 5px;
    border:1px solid gray;
    padding: 0px;
    height: 7rem;
    
}
