.list_container_wrapper{
    height: 100%;
   
}
.posts{
    height: 100%;
    overflow: scroll;
    list-style: none;
}
.posts::-webkit-scrollbar{
    width:2px;
    background-color: grey;
}
.posts::-webkit-scrollbar-thumb{
    background-color: black;
}
.post__list{
    list-style: none;
}
.post__list li{
    background-color: lightcoral;
    margin-top:1rem;

}