.list_container_wrapper{
    height: 100%;
    padding-right: 23rem;
   
}
.posts{
    height: 100%;
   
    list-style: none;
    
}

.post__list{
    list-style: none;
    padding:0px;
    margin-bottom: 5rem;
    margin-top: 0;
    width: 100%;
}
.post__list .post{
    cursor: pointer;
    border-bottom:1px solid #4b4b4b;
    
    padding: 0.4rem;
    

}
.post:hover *,.post:hover{
    background-color: rgb(46 51 62);
}
.post_container{
    margin-right: 1rem;
    margin-left: 3rem;
}
.post_area_container{
    margin-top: 0.4rem;
    border-bottom:0.4px solid #4b4b4b;
  
   
    
}
video{
    width: 100%;
}
.postDate{
    font-size: x-small;
    font-weight: 300;
}
.post_title,.post_text{
    margin:0px;
}
.post_title{
    font-size: x-small;
}
.post_text{
    font-size: smaller;
}
.post_area{
    height: 100%;
}
.post_area img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



